@charset "UTF-8";

body {
    background-color: #e2adff;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
    text-align: center;
    background-color: #551975;
    color: white;
}

h1 {
    color: #37104D;
    text-shadow: 1px 1px 1px rgb(75, 75, 75);
}

h2 {
    color: #8B19C7;
    text-shadow: 1px 1px 1px rgb(75, 75, 75);
}

.basico {
    color: green;
}

.intermediario {
    color: gold;
}

.avançado {
    color: red;
}
