@charset "UTF-8";

body {
    background-color: blue;
    background-image: url(../imagens/cev-portrait.jpg);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}